/*Pagina de estilos CSS de una Landing Page de un curso*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Se define el tamaño del viewport y el color del background*/
.contenedor-gral{
  font-size: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../imgs/sakura.jpg");
  /*background-color: rgba(71, 71, 71, 1);*/
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
/*Se formatea el contador de la oferta*/
.contador{
  background-color: rgba(221, 6, 6, 0.948);
  color: white;
  font-size: 2em;
  height: 13vh;
  width: 100%;
  display:flex;
  gap: .5em;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-wrap: wrap;
  z-index: 2;
  margin: 0 auto;
}

/*Se define el color y el tipo de la letra; el ancho de la página principal*/
.pag-principal{

  color:goldenrod;
  font-family: 'Kalam', cursive;
  width: 80vw;
  margin: 0 auto;
  align-items: center;
}
/*Se formatean los títulos principales*/
.titulos{
/*  margin: 0 auto;*/
  text-align: center;

}
h1{
  font-size: 3em;
  padding-top: 3em;
}
/*Se formatea el contenedor del video alto, ancho y al centro*/
.video-contenedor{
  position: relative;
  height: 0;
  padding-top: 36.25%;
  max-width: 720px;
  margin: 0 auto;
}
.video-contenedor iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Se formatean los dolores en la pagina*/
.dolores{
  width: 90%;
  color:#D92D07;
  font-size: 1.5em;
  /*display: grid;
  grid-template-columns: 1fr 2fr;*/
  align-items: center;
  margin: 2rem auto;
}
.dolor{
  display:flex;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
}
.dolor img{
  width: 100%;
}
/*Se formatea el cuestionamiento*/
.desicion{
  color:white;
  margin: 1em 0;
}
/* Se centra la imagen del precio*/
.precio{
  min-width: 150px;
  width: 100%;
  text-align: center;
}
.precio img{
  width: 100%;
}
/* Se formatea el contenedor de los elemento del boton de compra*/
.btn-cont{
  min-width: 200px;
  text-align: center;
}
.btn-link{
  width: 500px;
}
/*Formateo del tamaño de las flechas a los lados del boton*/
.flecha{
  width: 10em;
  height: 6em;
}
/*Se añade desplazamiento de las flechas*/
.fder{
  animation-name: mover-der;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-direction: alternate ;
}
@keyframes mover-der {
  0%{
    transform: translate(0);
  }
  100%{
    transform: translate(50%);
  }
}
.fizq{
  animation-name: mover-izq;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes mover-izq {
  0%{
    transform: translate(0);
  }
  100%{
    transform: translate(-50%);
  }
}
/* Se formatean todos los h2*/
.subtit{
  font-size: 2em;
  margin: 1em;
}
/*Se formatean el que y como lograr*/
.content-logros{
  width: 95%;
  display:flex;
  align-items:flex-start;
  gap: 2em;
}
.que-lograr{
  width: 55%;
  margin-left: 2em;
  font-size: 1.3em;
}
li{
  width: 100%;
  margin: 0 .5em 0 1em;
  color: white;
}
.cuadro-valor{
  width: 40%;
  margin-left: .5em;
  margin:0 auto;
}
.certif{
  width: 100%;
}
/*Se formatea el contenido del curso como acordeon solo CSS*/
details{
  background-color: #D92D07;
  color: black;
  padding: .5em;
  border-radius: 0.625em;
  margin: .5em 2em;
  cursor:pointer;
  font-size: 1em;
}
/*Se formatea la seccion del los datos del productor del curso*/
.productor{
  width: 90%;
  font-size: 1.2em;
  margin: 1em auto;
  display: flex;
  gap: 1em;
}
.productor div{
  width: 40%;
}
.productor img{
  width: 100%;
}
.dat-productor{
  color:white;
}
/* Se formatean los testimonios*/
.testimonios{
  margin: 1em auto;
  text-align: center;
}
.testim{
  background-color: beige;
  border-radius: 10px;
  margin-bottom: 2em;
  margin-left: 2em;
}
.testim img{
  width: 4em;
}
.testim p{
  color:#D92D07;
}
.testim p, span{
  font-size: 1em;
}
/*Todo lo que obtendras en el curso*/
.contenido_curso{
  width: 90%;
  color:#D92D07;
  font-size: 1.5em;
  /*display: grid;*/
  align-items: center;
  margin: 2rem auto;
}
.conten{
  display:flex;
  gap: 1em;
  justify-content: space-around;
  align-items: center;  
}
.content img{
  width: 100%;
}
.content .c1 .c3{
  width: 12.5em;
}
.ctafinal{
  margin: 1em auto 0;
  text-align: center;
  font-size: 1.5em;
  color: white;
}

/*Se formatea el pie de página*/
footer{
  background-image: url("../imgs/fondoChinoRojo.jpg");
  background-size:contain;
  opacity: 1;
  text-align: center;
  color:white;
}
.aaprender{
  width:100%;
  padding: 2em 0 0;
}
.respyder{
  width: 60%;
  margin: 0 auto .5em;
}
.respyder div{
  width: 30%;
  margin: 0 auto;
}
.respyder img{
  width: 100%;
}
.redesoc{
  display:flex;
  justify-content: center;
  margin: 0 auto;
}
.redesoc img{
  width: 3em;
  margin-bottom: 1em;
}
/* ----- MEDIA QUERIES ----- */

@media (max-width: 939px) {
  .contenedor-gral{
    font-size: 12px;
    width: 100vw;
    margin: 0 auto;
   }
   .pag-principal{
    width: 95%;
   }
  .contador{
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 2em
  } 
  .video-contenedor{
    padding-top: 46.25%;
  }
  .dolor{
    flex-direction: column;
  }
  .dolor img{
    width: 50%;
  }
  .d2, .d4{
    flex-direction: column-reverse;
  }
  .flecha{
    display:none;
  }
  .btn-compra{
    width: 300px;
  }
  .content-logros{
    width: 90%;
    flex-direction:column;
    justify-content: center;
    margin: 0 auto;
  }
  .que-lograr{
    width:100%;
    margin-left: 0;
  }
  .cuadro-valor{
    width: 50%;
  }
  .productor{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
  }
  .productor img{
    width: 100%;
    margin: 0 auto;
  }
  .contenido_curso{
    width: 100%;
  }
  .conten{
    width: 80%;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
  }
  .c2, .c4, .c6{
    flex-direction: column-reverse;
  }
  .content img{
    width: 100%;
  }
  .ctafinal{
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 500){
  .contenedor-gral .pag-principal{
    width: 100%;
    margin:0 auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .video-contenedor{
    width:100%;
    padding-top: 56.25%;
  }
  img {
    width: 95%;
  }
}